.deveet {
  position: relative;
  display: flex;
  padding: var(--padding-app-y) var(--padding-app-x);
  border-bottom: 1px solid var(--gray);
  animation: animate 3s infinite;
  overflow: hidden;
}
.deveet::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100px;
  width: 80px;
  height: 100%;
  background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, .75), transparent);
  animation: mask 2s infinite;
  transform: skew(35deg);
}
.avatarWrapper {
  margin-right: 10px;
}
.contentWrapper {
  width: 100%;
}
.userName {
  width: 40%;
  height: 21px;
}
.content {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 63px;
}
.userName,
.content {
  border-radius: 10.5px;
  background-color: var(--gray);
}
.interactionCount {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.commentsCount,
.sharedCount,
.likesCount {
  width: 20px;
  height: 20px;
  background-color: var(--gray);
  border-radius: 50%;
}

@keyframes mask {
  to {
    left: calc(100% + 100px);
  }
}
@keyframes animate {
  25% {
    opacity: .5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: .5;
  }
}