.deveet {
  display: flex;
  padding: var(--padding-app-y) var(--padding-app-x);
  border-bottom: 1px solid var(--gray);
  cursor: pointer;
  transition: background .3s;
}
.deveet:hover {
  background-color: #f5f8fa;
}
.avatar {
  margin-right: 10px;
}
.wrapper {
  width: 100%;
  overflow: hidden;
}
.user {
  display: flex;
}
.displayName,
.userName,
.timeAgo {
  white-space: nowrap;
}
.displayName {
  font-weight: 700;
}
.userName,
.timeAgo {
  color: var(--grey);
  margin-left: 5px;
}
.displayName,
.userName {
  overflow: hidden;
  text-overflow: ellipsis;
}
.content {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
}