.btn {
  border-radius: 100px;
  padding: 8px 16px;
  font-weight: 700;
  font-size: 15px;
  transition: opacity .3s ease;
}
.btn:hover {
  opacity: .8;
}
.btnWithIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  margin-right: 10px;
}
