.btn {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 100px;
  padding: 12px 24px;
  font-weight: 700;
  transition: opacity .3s ease;
}
.btn:hover {
  opacity: .8;
}
.btnWithIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgWrapper {
  margin-right: 8px;
}
