.caption {
  position: relative;
  height: 150px;
  margin-top: 10px;
  border: 1px solid var(--gray);
  border-radius: 12px;
  overflow: hidden;
}
.caption.fluid {
  height: 100%;
}
.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imgClose {
  position: absolute;
  top: 5px;
  right: 5px;
}