.timeline {
  margin-top: 49px;
  overflow-y: auto;
  height: calc(100% - 98px);
}
.timeline::-webkit-scrollbar {
  width: 8px;
}
.timeline::-webkit-scrollbar-track {
  background-color: transparent;
}
.timeline::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .1);
}