.floatBtn {
  position: absolute;
  bottom: calc(49px + 15px);
  right: 15px;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  z-index: 90;
}
.floatBtn.transparent {
  background-color: transparent;
}
.floatBtn.primary {
  background-color: var(--primary);
}
.floatBtn.red {
  background-color: var(--red);
}
.floatBtn.blue {
  background-color: var(--blue);
}
.floatBtn.green {
  background-color: var(--green);
}