.noContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  place-items: center;
}
.title {
  font-size: 32px;
  color: var(--grey);
}
.text {
  font-size: 14px;
  color: var(--grey);
}