.container {
  margin-top: var(--size-hud);
  overflow-y: auto;
}
.container.fullHeight {
  height: calc(100% - var(--size-hud));

}
.container.withScroll {
  height: calc(100% - (var(--size-hud) * 2));
}
.container::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.container::-webkit-scrollbar-track {
  background-color: transparent;
}
.container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .1);
}