.wrapper {
  position: relative;
  display: flex;
  padding: var(--padding-app-y) var(--padding-app-x);
  animation: animate 3s infinite;
  overflow: hidden;
}
.wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100px;
  width: 80px;
  height: 100%;
  background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, .75), transparent);
  animation: mask 2s infinite;
  transform: skew(35deg);
}
.avatarWrapper {
  margin-right: 10px;
}
.textarea {
  width: 100%;
  height: 200px;
  border-radius: 10.5px;
  background-color: var(--gray);
}

@keyframes mask {
  to {
    left: calc(100% + 100px);
  }
}
@keyframes animate {
  25% {
    opacity: .5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: .5;
  }
}