.link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  filter: grayscale(.8);
  opacity: .5;
  transition: .3s;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.link:hover {
  background-image: radial-gradient(var(--light-primary) 15%, transparent 16%);
  background-size: 180px 180px;
  background-position: center;
  opacity: .8;
}
.link.active {
  opacity: 1;
}
.link:hover,
.link.active {
  filter: grayscale(0);
}
.link.active::after {
  content: '';
  position: absolute;
  top: 8px;
  right: 8px;
  width: 6px;
  height: 6px;
  background-color: var(--primary);
  border-radius: 50%;
}
