.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--size-hud);
  border-bottom: 1px solid var(--gray);
  padding-left: var(--padding-app-x);
  padding-right: var(--padding-app-x);
  z-index: 100;
}
.wrapper {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.avatarWrapper {
  width: 59px;
}
.title {
  font-size: var(--title-font-size);
  font-weight: 700;
}