.app {
  display: grid;
  height: 100vh;
  place-items: center;
}
.main {
  background-color: #fff;
  height: 100%;
  width: 100%;
  max-width: 425px;
  padding: 20px;
}
.hero {
  display: grid;
  height: 100%;
  place-content: center;
  place-items: center;
}
.title {
  color: var(--primary);
  font-weight: 800;
  font-size: 32px;
  margin-bottom: 8px;
}
.subtitle {
  color: var(--secondary);
  font-size: 20px;
  text-align: center;
  margin-bottom: 16px;
}
.btn {
  background-color: var(--dark);
  color: var(--light);
}
.user {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 425px) {
  .main {
    height: 90vh;
    border-radius: 24px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .1);
  }
}