:root {
  /* Fonts */
  --fonts: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  
  /* Colors */
  --dark: #000;
  --light: #fff;
  --primary: #0099ff;
  --secondary: #1c5480;
  --light-primary: rgb(0, 153, 255, .3);
  --light-dark: rgb(33, 33, 33, .1);
}